*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color:rgb(196, 209, 214);
}
.navbar{
    display: flex;
     align-items: center;
     justify-content: space-around;
     background-color:white;
     margin: 20px;
}
.navbar_brand
{
    width: 100px;
}
.navbar_logo
{
    width: 100%;
}
.order_food
{
    background-color:rgb(228, 115, 74);
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    padding: 8px;
    cursor: pointer;

}
.container{
    padding: 0 20px;
}
.hero_image_container{
    width: 100%;
}
.hero_image{
    width: 100%;
}
.hero_description
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media(min-width:768px){
.hero_container{
    display: flex;
    flex-direction:row-reverse;
  align-items: center;
}
}