*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color:rgb(196, 209, 214);
}
.navbar{
    display: flex;
     align-items: center;
     justify-content: space-around;
     background-color:white;
     margin: 20px;
}
.navbar_brand
{
    width: 100px;
}
.navbar_logo
{
    width: 100%;
}
.order_food
{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    padding: 8px;
    cursor: pointer;

}
.container{
    padding: 0 20px;
}
.hero_image_container{
    width: 100%;
    
}
.hero_image{
    width: 100%;
    border-radius: 20px;
}
.hero_description
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.food_card_image_container{
    width: 100%;
}
.food_image{
    width: 100%;
    border-radius: 5px 0 0 0;
}
.food_card{
    background-color: white;
    margin: 20px;
    border-radius: 25px;
}
.food_card_description
{
    padding: 20px;
}
.explore_menu_text{
    text-align: center;
  color: black;
    font-size:33px;
}

.view_more{
    
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    padding: 20px;
    border: none;
     
}
.view_more_button{
    display: flex;
    justify-content: center;

    align-items: center;
}
@media(min-width:768px){
.hero_container{
    display: flex;
    flex-direction:row-reverse;
  align-items: center;
  margin-left: 50px;
  gap: 390px;
}
.hero_image_container{
    max-width: 45%;
}
.food_card{
    max-width: 35%;
    border-radius: 5px 0 0 0;
}
.food_image{
    border-radius: 25px 12px 0 0;
}
.explore_menu_lists{
    display: flex;
    flex-direction: row;
}
#pizza{
    margin-top: -10px;
    margin-bottom: 10px;
}
.explore_menu_container{
    margin: 30px;
    position: relative;
}
.explore_menu_gradient_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    transform: skewY(-2deg);
    z-index: -1;
}
}